<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="CAPA_PRESENTACION.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="cn" connectionString="Data Source=VALE\VALERIA;Initial catalog= TESIS ATLETISMO 2016; Integrated Security=True"/>
    <add name="CAPA_PRESENTACION.My.MySettings.ATLETISMO_FINALConnectionString" connectionString="Data Source=vale\valeria;Initial Catalog=ATLETISMO_FINAL;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="CAPA_PRESENTACION.My.MySettings.TESIS_ATLETISMO_2016ConnectionString" connectionString="Data Source=VALE\VALERIA;Initial Catalog=&quot;TESIS ATLETISMO 2016&quot;;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="CAPA_PRESENTACION.My.MySettings.TESIS_ATLETISMO_2016ConnectionString1" connectionString="Data Source=vale\valeria;Initial Catalog=&quot;TESIS ATLETISMO 2016&quot;;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <applicationSettings>
    <CAPA_PRESENTACION.My.MySettings>
      <setting name="Setting" serializeAs="String">
        <value/>
      </setting>
    </CAPA_PRESENTACION.My.MySettings>
  </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
